@import "tailwindcss";

html {
  background: #f8f9fd;
}

.header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  border-radius: 20px;
  margin: 20px auto;
}

.header-left {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.logo img {
  width: 130px;
}

.header-nav {
  display: flex;
  align-items: center;
  padding: 10px;
}

.header-nav ul {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}
.header-nav ul li a {
  padding: 15px 25px;
  border-radius: 10px;
  transition: 0.2s;
}
.header-nav ul li a:hover {
  background: #f8f9fd;
}
.header-right {
  padding: 10px;
}

.main-content {
  gap: 20px;
}

.user-info {
  background: #f8f9fd;
  padding: 7px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 500px;
  padding-left: 15px;
  transition: 0.2s;
  cursor: pointer;
}

.user-info:hover {
  background: #eff3ff;
}

.user-info span {
  margin: 0 10px;
}

.user-info img {
  height: 50px;
  border-radius: 500px;
}

.main-content {
  margin: 0 auto;
}

.article-card {
  background: #fff;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 2px solid #fff;
  transition: 0.2s;
}

.article-card:hover {
  border-color: #d1d4d5;
}
.article-card-meta {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-avatar {
  background: #fff;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 500px;
  height: 50px;
  border: 1px solid rgb(223, 223, 223);
}

.article-title h3 {
  font-size: 22px;
}

.time-ago {
  font-size: 14px;
  color: #818181;
}

.article-topic p {
  background: rgb(161, 161, 161);
  color: #fff;
  display: inline;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 1000px;
  transition: 0.2s;
}

.article-topic p.coding {
  background: rgb(150, 109, 196);
  color: #fff;
}
.article-topic p.cooking {
  background: rgb(109, 184, 196);
  color: #fff;
}
.article-topic p.football {
  background: rgb(115, 196, 109);
  color: #fff;
}
.article-topic p:hover {
  opacity: 0.8;
}

.article-card-image {
  border-radius: 10px;
}

.article-buttons {
  display: flex;
  justify-content: space-between;
}

.article-stats {
  display: flex;
  gap: 10px;
}

.article-buttons p,
.article-buttons a {
  background-color: #f8f9fd;
  padding: 12px 16px;
  border-radius: 10px;
}
.article-buttons a {
  background: #283841;
  color: #fff;
  padding: 12px 28px;
}
.article-buttons a:hover {
  opacity: 0.8;
}

.article-content-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-bar {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px;
  border-radius: 20px;
}

.article-full-image {
  border-radius: 20px;
}

h2.article-title {
  font-size: 22px;
  font-weight: 500;
}

.article-stats-container {
  background: #fff;
  padding: 10px;
  border-radius: 20px;
}

.article-sidebar {
  background: #fff;
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  gap: 30px;
}
.avatar-sidebar {
  height: 120px;
  margin-bottom: 15px;
}
.sidebar-author-card p {
  font-weight: 5 00;
}

.view-profile-btn {
  padding: 15px;
  border-radius: 10px;
  transition: 0.2s;
  background: #f8f9fd;
  width: 100%;
  cursor: not-allowed;
}

.comments-section-container h3 {
  text-align: center;
  margin: 10px 0 30px 0;
  font-size: 20px;
}

.comments-section {
  background: #fff;
  border-radius: 20px;
}

.comments-section .no-comments {
  text-align: center;
  padding: 30px;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.comment-card {
  background: #f8f9fd;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.comment-meta-container {
  display: flex;
  justify-content: space-between;
}

.comment-meta {
  display: flex;
  gap: 10px;
}

.comment-author-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comment-date {
  font-size: 14px;
  color: #818181;
}

.delete-comment-btn {
  background: rgb(255, 208, 208);
  color: rgb(192, 0, 0);
  padding: 8px 16px;
  font-size: 13px;
  height: fit-content;
  border-radius: 100px;
  cursor: not-allowed;
  transition: 0.2s;
}

.delete-comment-btn:hover {
  background: rgb(254, 177, 177);
}
.delete-comment-btn:active {
  background: rgb(192, 0, 0);
  color: #fff;
}

.comment-stats p {
  background-color: #ffffff;
  padding: 12px 16px;
  border-radius: 10px;
  width: fit-content;
}

.footer {
  margin: 0 auto;
}

.footer p {
  text-align: center;
  margin: 30px;
}

.footer a {
  color: #226cb1;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}
